anyascii==0.3.2
cached_path
cn2an==0.5.23
click==8.2.1
eng_to_ipa==0.0.2
fugashi==1.5.1
g2p_en==2.1.0
g2pkk>=0.1.1
gradio
gruut[de,es,fr]==2.4.0
inflect==7.5.0
jamo==0.4.1
jieba==0.42.1
langid==1.1.6
librosa==0.11.0
loguru==0.7.3
mecab-python3==1.0.10
num2words==0.5.14
pydub==0.25.1
pykakasi==2.3.0
pypinyin==0.54.0
tensorboard==2.19.0
torch
torchaudio
tqdm
transformers==4.52.4
txtsplit
unidecode==1.4.0
unidic_lite==1.0.8
unidic==1.1.0
